{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
            {% endfor %}
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
            {% endfor %}
            <form class="form-signin" method="post">
                {{ form.hidden_tag() }}
                <h2 class="form-signin-heading">Please login</h2>
                <label for="email" class="sr-only">Email address</label>
                {{ form.email(type="email", id="email", class="form-control", placeholder="Email", autofocus=true, required=true)}}
                <label for="password" class="sr-only">Password</label>
                {{ form.password(type="password", id="password", class="form-control", placeholder="Password", autofocus=true, required=true)}}
                {{ form.remember_me }} <b>Remember Me</b>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <a href={{url_for('forgot_password')}} >Forgot Password</a>
                <a href={{url_for('register')}} class="pull-right" >Register</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}